*{
    margin: 0px;
    padding:0px;
}

.header{
    background-color: rgb(66,103,178);
    height: 40px;
    width: 180;
}
#heading{
    display: inline-block;
    height: 22px;
    margin-top: 5px;
}
#inputField{
    width: 250px;
    margin-bottom: 30px;
}
.td{
    float: right;
    color: white;
    margin-right:200px; 
    margin-bottom: 10px;
}
td{
  padding: 7px;
}
#img{
    height: 25px;
}
#img2{
    height: 23px;
}
